<div class="full-width-container">
  <div class="section-left-align">
    <h2 class="content-title">5. Concreción Curricular</h2>
    <div class="title-underline"></div>
    <div class="section-subtitle">Resultados, criterios y contenidos</div>
    <table class="styled-table">
      <thead>
        <tr>
          <th>Resultados de aprendizaje</th>
          <th>Criterios de evaluación</th>
          <th>Contenidos básicos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Implementar medidas de seguridad en aplicaciones web.</td>
          <td>Aplicar medidas de seguridad como la autenticación y el cifrado.</td>
          <td>Seguridad Web: XSS, SQL Injection, autenticación, HTTPS.</td>
        </tr>
        <tr>
          <td>Evaluar vulnerabilidades y ataques comunes en aplicaciones web.</td>
          <td>Identificar y corregir vulnerabilidades en el código.</td>
          <td>Pruebas de Seguridad: OWASP.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
