<div class="full-width-container">
  <div class="section-left-align">
    <h2 class="content-title">1. Datos de Identificación de la Unidad</h2>
    <div class="title-underline"></div>
    <div class="section-subtitle">Información básica</div>
    <div class="section-card section-card-alignbottom">
      <ul class="list-no-bullets">
        <li class="list-item"><span class="material-icons icon-green">badge</span> <strong>Título:</strong> La paz es compartir</li>
        <li class="list-item"><span class="material-icons icon-green">menu_book</span> <strong>Materia:</strong> Despliegue de aplicaciones web de DAW</li>
        <li class="list-item"><span class="material-icons icon-green">school</span> <strong>Curso:</strong> 2º</li>
        <li class="list-item"><span class="material-icons icon-green">schedule</span> <strong>Temporalización:</strong> 12 horas lectivas (3 semanas)</li>
      </ul>
      <span class="material-icons big-icon-peace">diversity_3</span>
    </div>
  </div>
</div>
