<div class="full-width-container">
  <div class="section-left-align">
    <h2 class="content-title">Fase Inicial: Situamos al alumnado</h2>
    <div class="title-underline"></div>
    <ol class="paragraph">
      <li><strong>Introducción a la cultura de paz y su relación con el trabajo colaborativo</strong><br>
        <em>Descripción:</em> Se exploran los conceptos de cultura de paz y cómo el compartir y colaborar puede ser una vacuna frente a los conflictos. Relacionar con la forma de trabajar en proyectos grupales.<br>
        <em>Recursos:</em> Wikipedia sobre cultura de paz.<br>
        <em>Agrupamiento:</em> Asamblea<br>
        <em>Activación ideas previas:</em> ¿Habéis trabajado en grupo? ¿habéis tenido problemas o conflictos? ¿Qué entendéis por paz?<br>
        <em>Presentación plan de trabajo:</em> Mapa conceptual, Tablero kwl, formación grupos
      </li>
      <li><strong>Introducción a DevOps y su aplicación en proyectos colaborativos</strong><br>
        <em>Descripción:</em> Explicación de los conceptos de DevOps y su integración en un proceso de desarrollo de software.<br>
        <em>Recursos:</em> Tecnología 4.0 (YouTube), la chica de sistemas (YouTube), Aprendiendo con Marga (YouTube)<br>
        <em>Agrupamiento:</em> Asamblea
      </li>
    </ol>
  </div>
</div>
