<div class="full-width-container">
  <div class="section-left-align">
    <h2 class="content-title">Fase de Desarrollo: Conocer, comprender, pensar, practicar y actuar</h2>
    <div class="title-underline"></div>
    <ol class="paragraph">
      <li><strong>¿Cómo se estructura una landing page y qué tecnologías utilizamos? (2h)</strong><br>
        <em>Actividad de desarrollo 1:</em> Estudio y diseño de la estructura de la página web.<br>
        <em>Recursos:</em> Tutoriales sobre HTML, CSS y JavaScript.<br>
        <em>Agrupamiento:</em> Asamblea y grupos<br>
        <em>Notas:</em> Recordamos conceptos que ya han visto anteriormente: HTML, CSS y JavaScript. Facilitamos tutoriales. Pedimos elaboren en grupo de dos, un hola mundo con html css y botón javascript de borrar. Nos movemos por los grupos ayudando, animando. A los que acaben, proponemos ayuden al resto. Apuntamos en la pizarra el tiempo que han tardado. Descargan e instalan ide cursor. Revisamos que ha escrito, estructura y elementos que nos llamen la atención o que tengamos dudas. Preguntamos a cursor por lo que no entendamos. Jugamos a hacer cambios.
      </li>
      <li><strong>¿Qué es Git? ¿Qué es GitHub?</strong><br>
        <em>Actividad de desarrollo:</em> Implementar Git en su proyecto desde el principio. El alumnado debe crear un repositorio y subir su primer commit. Al integrar Git como herramienta desde el inicio, están aprendiendo de inmediato a utilizar control de versiones en un proyecto real.<br>
        <em>Recursos:</em> Tutoriales y documentación de Git y GitHub.<br>
        <em>Agrupamiento:</em> Grupos<br>
        <em>Notas:</em> Configurar usuario, primer commit, crear README, .gitignore, licencia. Estrategias de ramas. Crear ramas y trabajar en equipo. Forzar conflictos para aprender a resolverlos. Uso de pull requests y protección de ramas.
      </li>
      <li><strong>¿Qué es DevOps y cómo se aplica?</strong><br>
        <em>Actividad de desarrollo:</em> Deben tener un pipeline funcional que les permita hacer lo siguiente: subir cambios, ejecutar pruebas automáticas, desplegar la landing page automáticamente.<br>
        <em>Recursos:</em> GitHub Actions, Jenkins, plataformas de despliegue, frameworks de pruebas.<br>
        <em>Agrupamiento:</em> Grupos<br>
        <em>Notas:</em> Incluir tests en integración continua. Permitir que experimenten y resuelvan problemas de integración y despliegue.
      </li>
      <li><strong>¿Qué es pull request y para qué sirve?</strong><br>
        <em>Actividad de desarrollo:</em> Forzar conflictos y trabajar con pull requests y revisiones. Configurar reglas de protección de rama en GitHub.<br>
        <em>Recursos:</em> Tutoriales y documentación de GitHub y Atlassian.<br>
        <em>Agrupamiento:</em> Grupos
      </li>
    </ol>
  </div>
</div>
