<div class="full-width-container">
  <div class="section-left-align">
    <h2 class="content-title">2. Justificación</h2>
    <div class="title-underline"></div>

    <div class="section-subtitle">Motivación</div>
    <div class="section-card">
      <p class="paragraph">En un mundo marcado por conflictos, la colaboración y el compartir se presentan como los pilares que promueven la cultura de paz. La capacidad de trabajar en equipo es esencial tanto para el desarrollo personal como para el profesional. Compartir al trabajar en nuestro equipo, compartir al trabajar con otros equipos, compartir en todas las áreas de nuestra vida. Colaborar es compartir y compartir es la paz.</p>
      <p class="paragraph">En esta unidad, el alumnado trabajará competencias profesionales al colaborar activamente para desarrollar una landing page de presentación del grupo, bajo una metodología de Trabajo Basado en Proyectos (ABP). A través de este proceso, se desarrollarán habilidades técnicas al mismo tiempo que fortalecen las competencias en trabajo colaborativo.</p>
    </div>

    <div class="section-subtitle">Desarrollo de competencias</div>
    <div class="section-card">
      <p class="paragraph">Estas habilidades y competencias, que se buscan adquirir, son imprescindibles en el entorno actual en el que la tecnología se encuentra en constante evolución. Las empresas y organizaciones adoptan nuevas metodologías de desarrollo como DevOps, y necesitamos trabajar las competencias necesarias para comprender y aplicar dicha metodología en un proyecto real.</p>
      <p class="paragraph">Todo lo anterior nos lleva a pensar que esta unidad aportará enormemente a la consecución tanto de la competencia general de este título, que consiste en desarrollar, implantar, y mantener aplicaciones web, con independencia del modelo empleado y utilizando tecnologías específicas, garantizando el acceso a los datos de forma segura y cumpliendo los criterios de accesibilidad, usabilidad y calidad exigidas en los estándares establecidos, tanto como competencias profesionales, personales y sociales:</p>
      <ul class="list-no-bullets">
        <li class="list-item"><span class="material-icons icon-green">check_circle</span> g) Desarrollar interfaces en aplicaciones web de acuerdo con un manual de estilo, utilizando lenguajes de marcas y estándares web.</li>
        <li class="list-item"><span class="material-icons icon-green">check_circle</span> j) Desarrollar e integrar componentes software en el entorno del servidor web, empleando herramientas y lenguajes específicos, para cumplir las especificaciones de la aplicación.</li>
        <li class="list-item"><span class="material-icons icon-green">check_circle</span> r) Organizar y coordinar equipos de trabajo, supervisando el desarrollo del mismo, con responsabilidad, manteniendo relaciones fluidas y asumiendo el liderazgo.</li>
        <li class="list-item"><span class="material-icons icon-green">check_circle</span> v) Realizar la gestión básica para la creación y funcionamiento de una pequeña empresa y tener iniciativa en su actividad profesional con sentido de la responsabilidad social.</li>
        <li class="list-item"><span class="material-icons icon-green">check_circle</span> s) Comunicarse con sus iguales, superiores, clientes y personas bajo su responsabilidad utilizando vías eficaces de comunicación, transmitiendo la información o conocimientos adecuados.</li>
        <li class="list-item"><span class="material-icons icon-green">check_circle</span> p) Adaptarse a las nuevas situaciones laborales, manteniendo actualizados los conocimientos científicos, técnicos y tecnológicos relativos a su entorno profesional.</li>
        <li class="list-item"><span class="material-icons icon-green">check_circle</span> ñ) Elaborar y mantener la documentación de los procesos de desarrollo, utilizando herramientas de generación de documentación y control de versiones.</li>
      </ul>
      <p class="paragraph">El aprendizaje propuesto es fundamental además para que el alumnado desarrolle no solo estas habilidades técnicas, sino también habilidades de trabajo en equipo, gestión de proyectos y resolución de problemas. De esta manera, se fomenta el desarrollo de competencias clave como la colaboración, el trabajo en equipo y el pensamiento crítico.</p>
    </div>

    <div class="section-subtitle">Valores y metas globales</div>
    <div class="section-card">
      <p class="paragraph">Por último, resaltar que esta propuesta se enmarca en los Objetivos de Desarrollo Sostenible (ODS), especialmente en los siguientes:</p>
      <ul class="list-no-bullets">
        <li class="list-item"><span class="material-icons icon-green">public</span> <strong>ODS 4: Educación de calidad:</strong> La propuesta tiene como objetivo mejorar la calidad educativa, facilitándole a nuestro alumnado herramientas tecnológicas y metodológicas que les permitan desarrollarse en el ámbito digital, promoviendo el acceso a tecnologías e información que fomente su aprendizaje. Además, se busca fortalecer las habilidades del alumnado, preparándolos para el entorno profesional mediante un aprendizaje colaborativo y práctico.</li>
        <li class="list-item"><span class="material-icons icon-green">public</span> <strong>ODS 16: Paz, justicia e instituciones sólidas:</strong> El desarrollo de proyectos colaborativos fomenta el trabajo en equipo, el respeto mutuo, la cooperación y la creación de un entorno en el que aprenden a gestionar conflictos de manera constructiva y a tomar decisiones informadas, contribuyendo así a la construcción de un entorno educativo más justo y colaborativo.</li>
      </ul>
    </div>
  </div>
</div>
