<div class="full-width-container">
  <div class="section-left-align">
    <h2 class="content-title">4. Descripción del producto final</h2>
    <div class="title-underline"></div>
    <p class="paragraph">
      El producto final consistirá en la creación, a través del desarrollo colaborativo, de una landing page utilizando un pipeline de CI/CD (Integración y Despliegue Continuos) con Jenkins o GitHub Actions, donde se automatizará el proceso de pruebas, integración y despliegue de dicha web. El proyecto debe incluir una integración continua de código.
    </p>
  </div>
</div>
