<div class="full-width-container">
  <div class="section-left-align">
    <h2 class="content-title">4. Descripción del producto final</h2>
    <div class="title-underline"></div>
    <div class="section-card section-card-bottomicon">
      <div class="paragraph">
        El producto final consistirá en alojar en una plataforma de nube como AWS la landing page desarrollada en la unidad anterior optimizada. Esta aplicación debe poder desplegarse automáticamente, ser escalable y permitir una gestión eficiente de los recursos en la nube, lo que permite que el alumnado aplique los conocimientos adquiridos a lo largo de la unidad.
      </div>
      <div class="bottom-icon-wrapper">
        <span class="material-icons" style="font-size:120px; color:#0072BC; margin-right:12px;">cloud_sync</span>
        <span class="material-icons" style="font-size:120px; color:#218838;">eco</span>
      </div>
    </div>
  </div>
</div>
