<div class="full-width-container">
  <div class="section-left-align">
    <h2 class="content-title">4. Descripción del producto final</h2>
    <div class="title-underline"></div>
    <div class="section-card section-card-bottomicon">
      <div class="paragraph">
        El producto final será una aplicación web segura, donde el alumnado implementará funciones de seguridad como autenticación de usuarios, cifrado de contraseñas y protección contra ataques comunes como XSS y SQL Injection. La evaluación se basará en la capacidad para identificar y corregir vulnerabilidades en una aplicación web real.
      </div>
      <div class="bottom-icon-wrapper">
        <span class="material-icons" style="font-size:120px; color:#0072BC; margin-right:12px;">security</span>
      </div>
    </div>
  </div>
</div>
