
<div class="full-width-container">
  <div class="section-left-align">
    <h2 class="content-title">5. Concreción Curricular</h2>
    <div class="title-underline"></div>
    <div class="section-subtitle">Resultados, criterios y contenidos</div>
    <table class="styled-table">
      <thead>
        <tr>
          <th>Resultados de aprendizaje</th>
          <th>Criterios de evaluación</th>
          <th>Contenidos básicos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Conocer las principales plataformas de computación en la nube.</td>
          <td>Identificar y describir las características de las plataformas cloud.</td>
          <td>Plataformas Cloud: AWS, Google Cloud, Microsoft Azure.</td>
        </tr>
        <tr>
          <td>Optimización de recursos en la nube</td>
          <td>Elementos de optimización de recursos</td>
          <td>Sostenibilidad</td>
        </tr>
        <tr>
          <td>Implementar aplicaciones sencillas en la nube.</td>
          <td>Desplegar aplicaciones web en plataformas de computación en la nube.</td>
          <td>Despliegue en la Nube: AWS EC2, S3.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
